.table-bordered {
  border: none;
}

th.mobile-only {
  display: none;
}

/* Adaptor rules for bootstrap */
.table-bordered > tbody > tr.wide-table-cell > td, .table-bordered > tbody > tr.wide-table-cell > th {
  border: 0em;
  /*line-height: 1.3;*/
}

.table-bordered > tbody > tr.wide-table-header-row > th {
  border: 0em;
}

@media screen and (max-width: 40em) {
  table {
    display: block;
  }

  table .wide-table-header-row > th{
    display: block;
  }
  
  .wide-table-cell > td {
    display: block;
  }

  .wide-table-cell {
    border-top: 1px solid #ddd;
  }
  
  .desktop-only {
    display: none;
  }

  th.mobile-only {
    display: block;
  }

}
